@model forumwebsiteCA3.Models.commentsPost
@using Microsoft.AspNet.Identity;

<div>
    <hr />
    <dl class="dl-horizontal">


        <div id="postContainer">
            @if (Model.post.isLink == 0) {
        <dd>
            @Html.DisplayFor(model => model.post.title)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.post.content)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.post.score)
        </dd>

        <dd>
            @if (Model.post.userID == User.Identity.GetUserId())
            {
            @Html.ActionLink("Edit", "Edit", new { postid = Model.post.postID })
            @Html.ActionLink("Delete", "Delete", new { postid = Model.post.postID })
            }
            @Html.ActionLink("Add Comment", "addComment", "comment", new { Model.post.postID },null)
        </dd>
} else if ((Model.post.content).Contains("youtube.com")) {
        <h2 class="postTitle"> @Model.post.title</h2">
                <br />
                <br />
            <center><iframe width="560" height="315" src="@Model.post.content" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
}
        </div>

    </dl>


    @foreach (var comment in Model.comments)
    {
        <div class="commentContainer">
            <p class="commentText">@Html.DisplayFor(Model => comment.content)</p>
            @if (comment.senderID == User.Identity.GetUserId())
            {
            @Html.ActionLink("Delete", "Delete", "comment", new { commentID = comment.commentID }, null)
            @Html.ActionLink("Edit", "Edit", "comment", new { commentID = comment.commentID }, null)
            }
        </div>
    }

    

        <p>
            @Html.ActionLink("Add Comment", "addComment", "comment", new {Model.post.postID}, null)
            <br />
            @Html.ActionLink("Back to List", "Index")
        </p>
