@model forumwebsiteCA3.Models.commentsPost

<div>
    <hr />
    <dl class="dl-horizontal">


        <div id="postContainer">
            <dd>
                @Html.DisplayFor(model => model.post.title)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.post.content)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.post.score)
            </dd>
        </div>

    </dl>


    @foreach (var comment in Model.comments)
    {
        <div class="commentContainer">
            <p class="commentText">@Html.DisplayFor(Model => comment.content)</p>
        </div>
    }

    @foreach (var user in Model.users)
    {
        if (user.userID == comment.senderID)
        {
            <p class="commentAuthor">-@Html.DisplayFor(Model => user.firstName + user.lastName)</p>
        }
    }

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.post.postID })
        @Html.ActionLink("Back to List", "Index")
    </p>
