@model forumwebsiteCA3.Models.commentsPost

<div>
    <hr />
    <dl class="dl-horizontal">


        <div id="postContainer">
            @if (Model.post.isLink == 0) {
        <dd>
            @Html.DisplayFor(model => model.post.title)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.post.content)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.post.score)
        </dd>

        <dd>
            @Html.ActionLink("Edit", "Edit", new { id = Model.post.postID })
            @Html.ActionLink("Add Comment", "addComment", "comment")
        </dd>
} else if ((Model.post.content).Contains("youtube.com")) {
        <h2 class="postTitle"> @Model.post.title</h2">
                <br />
                <br />
            <center><iframe width="560" height="315" src="@Model.post.content" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
}
        </div>

    </dl>


    @foreach (var comment in Model.comments)
    {
        <div class="commentContainer">
            <p class="commentText">@Html.DisplayFor(Model => comment.content)</p>
        </div>
    }

    

        <p>
            @Html.ActionLink("Add Comment", "addComment", "comment")
            <br />
            @Html.ActionLink("Back to List", "Index")
        </p>
