@model forumwebsiteCA3.Models.commentsPost

<div>
    <hr />
    <dl class="dl-horizontal">
        

        <div id="postContainer">
            <dd>
                @Html.DisplayFor(model => model.post.title)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.post.content)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.post.score)
            </dd>
        </div>

    </dl>

    
        @foreach (var comment in Model.comments)
        {
            <div class="commentContainer">
                @Html.DisplayFor(Model => comment.content)
            </div>
            <br />
        }

    
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.post.postID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
