@model IEnumerable<forumwebsiteCA3.Models.posts>

<br />
@Html.ActionLink("Add post", "addPost", "posts")
<table class="table">
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Rating</th>
    </tr>
    @foreach (var post in Model)
    {

        
    <tr>
        <td>
            @Html.ActionLink(@post.title, "goToPostById", "posts", new { post.postID }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => post.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => post.score)
        </td>
    </tr>

    }
</table>
